In [1]:
import pandas as pd

In [2]:
df0 = pd.read_excel("data/FinalMarksDataset.xlsx", sheet_name=0)
df1 = pd.read_excel("data/FinalMarksDataset.xlsx", sheet_name=1)
df2 = pd.read_excel("data/FinalMarksDataset.xlsx", sheet_name=2)
df3 = pd.read_excel("data/FinalMarksDataset.xlsx", sheet_name=3)
df4 = pd.read_excel("data/FinalMarksDataset.xlsx", sheet_name=4)
df5 = pd.read_excel("data/FinalMarksDataset.xlsx", sheet_name=5)

In [3]:
df0

,Unnamed: 0,As:1,As:2,As:3,As:4,As:5,As:6,Qz:1,Qz:2,Qz:3,Qz:4,Qz:5,Qz:6,Qz:7,Qz:8,S-I,S-II,Final
0,1,61.923077,86.428571,81.666667,81.0,49.166667,78.333333,70,33.333333,20.0,80,0,50,75.000000,100,43.733333,15.600000,35.733333
1,2,55.769231,97.142857,43.333333,70.0,67.083333,78.888889,50,46.666667,0.0,100,70,100,83.333333,100,31.200000,27.466667,53.488889
2,3,86.923077,88.571429,0.000000,94.0,66.666667,88.888889,70,16.666667,10.0,10,20,20,100.000000,100,23.733333,16.200000,32.488889
3,4,46.923077,62.142857,0.000000,44.0,0.000000,55.555556,30,33.333333,5.0,0,0,20,25.000000,0,46.200000,22.466667,28.000000
4,5,80.000000,95.714286,80.555556,90.0,100.000000,100.000000,100,70.000000,100.0,100,65,100,75.000000,100,71.200000,43.733333,74.733333
5,6,0.000000,74.285714,67.777778,41.0,45.833333,64.444444,90,36.666667,15.0,0,80,80,25.000000,100,26.200000,10.000000,39.488889
6,7,90.769231,88.571429,95.000000,79.0,90.833333,100.000000,100,56.666667,95.0,100,70,90,83.333333,100,56.866667,34.333333,70.488889
7,8,0.000000,67.142857,48.888889,46.0,42.500000,0.000000,40,40.000000,5.0,0,10,0,25.000000,0,16.200000,12.466667,13.244444
8,9,80.769231,92.857143,75.000000,94.0,77.500000,96.666667,70,56.666667,0.0,10,10,40,75.000000,100,35.000000,60.600000,58.244444
9,10,86.923077,84.285714,57.222222,66.0,55.000000,54.444444,90,13.333333,5.0,0,0,30,16.666667,100,22.466667,11.866667,27.733333
10,11,0.000000,93.571429,67.222222,56.0,51.666667,81.111111,50,43.333333,90.0,100,100,70,66.666667,100,36.866667,43.733333,60.488889
11,12,80.769231,85.714286,43.888889,100.0,66.666667,98.888889,0,13.333333,55.0,10,10,30,58.333333,100,38.733333,15.600000,40.000000
12,13,70.769231,72.857143,0.000000,70.0,70.833333,80.000000,50,36.666667,15.0,10,10,40,8.333333,100,46.200000,40.600000,47.488889
13,14,93.846154,77.857143,87.777778,70.0,75.000000,0.000000,70,36.666667,0.0,10,10,90,33.333333,100,35.000000,14.333333,45.733333
14,15,83.846154,0.000000,83.888889,66.0,83.333333,97.777778,60,30.000000,60.0,0,10,70,16.666667,100,37.466667,12.466667,47.244444
15,16,0.000000,88.571429,87.777778,100.0,73.333333,100.000000,80,46.666667,0.0,100,30,80,33.333333,100,38.733333,35.000000,61.244444
16,17,0.000000,90.714286,94.444444,100.0,80.000000,36.666667,100,26.666667,40.0,100,30,80,33.333333,100,53.733333,73.733333,49.244444
17,18,80.000000,0.000000,0.000000,99.0,78.333333,88.888889,90,20.000000,95.0,10,0,100,50.000000,100,47.466667,46.200000,65.244444
18,19,79.230769,0.000000,88.888889,100.0,91.666667,100.000000,80,60.000000,100.0,100,20,100,0.000000,100,73.733333,48.066667,63.733333
19,20,56.538462,76.428571,72.222222,74.0,75.000000,58.888889,30,13.333333,5.0,0,10,70,16.666667,100,36.200000,27.466667,44.488889
20,21,83.076923,63.571429,55.555556,87.0,66.666667,60.000000,100,0.000000,40.0,10,15,80,75.000000,100,53.733333,42.466667,45.488889
21,22,82.307692,80.000000,91.666667,94.0,33.333333,72.222222,100,60.000000,95.0,100,100,90,83.333333,100,73.066667,54.333333,64.000000
22,23,91.538462,60.000000,80.000000,92.0,90.000000,88.888889,90,53.333333,15.0,5,30,70,66.666667,100,47.466667,46.200000,66.488889
23,24,57.692308,0.000000,0.000000,30.0,72.500000,0.000000,50,40.000000,10.0,0,20,0,0.000000,0,31.200000,5.000000,14.000000
24,25,79.230769,74.285714,66.666667,42.0,54.583333,87.777778,90,60.000000,10.0,0,30,70,75.000000,100,48.733333,36.866667,58.733333
25,26,43.461538,0.000000,67.777778,51.0,49.166667,78.888889,70,20.000000,20.0,0,20,70,33.333333,100,30.000000,33.066667,35.733333
26,27,84.615385,76.428571,78.333333,60.0,50.833333,81.111111,70,56.666667,10.0,100,50,50,41.666667,100,33.733333,16.200000,43.488889
27,28,68.461538,57.142857,36.111111,67.0,45.000000,54.444444,60,23.333333,0.0,0,30,40,25.000000,100,28.733333,10.600000,43.488889
28,29,70.769231,100.000000,91.111111,85.0,0.000000,93.888889,80,46.666667,30.0,0,80,80,25.000000,100,29.333333,28.733333,40.000000
29,30,77.692308,70.714286,0.000000,95.0,73.333333,51.111111,60,56.666667,5.0,0,10,40,16.666667,100,43.733333,19.333333,24.244444
30,31,47.692308,0.000000,63.333333,60.0,72.500000,74.444444,0,66.666667,0.0,10,30,0,50.000000,100,22.466667,10.600000,27.733333
31,32,64.615385,72.857143,49.444444,56.0,66.666667,53.333333,40,46.666667,10.0,0,90,60,58.333333,100,35.000000,10.000000,36.244444
32,33,96.153846,85.714286,93.333333,81.0,91.666667,95.555556,90,40.000000,0.0,0,30,50,16.666667,100,53.733333,28.733333,50.733333
33,34,74.615385,0.000000,55.555556,82.0,60.000000,0.000000,0,30.000000,0.0,0,30,0,0.000000,100,29.333333,9.333333,14.488889

In [5]:
df = pd.concat([df0,df1,df2,df3,df4,df5])

In [8]:
df["Final"].corr(df["S-I"])

np.float64(0.5530821495256625)

In [9]:
df

,Unnamed: 0,As:1,As:2,As:3,As:4,As:5,As:6,Qz:1,Qz:2,Qz:3,Qz:4,Qz:5,Qz:6,Qz:7,Qz:8,S-I,S-II,Final,Proj
0,1,61.923077,86.428571,81.666667,81.00,49.166667,78.333333,70.0,33.333333,20.00,80.0,0.0,50.0,75.000000,100.0,43.733333,15.600000,35.733333,NaN
1,2,55.769231,97.142857,43.333333,70.00,67.083333,78.888889,50.0,46.666667,0.00,100.0,70.0,100.0,83.333333,100.0,31.200000,27.466667,53.488889,NaN
2,3,86.923077,88.571429,0.000000,94.00,66.666667,88.888889,70.0,16.666667,10.00,10.0,20.0,20.0,100.000000,100.0,23.733333,16.200000,32.488889,NaN
3,4,46.923077,62.142857,0.000000,44.00,0.000000,55.555556,30.0,33.333333,5.00,0.0,0.0,20.0,25.000000,0.0,46.200000,22.466667,28.000000,NaN
4,5,80.000000,95.714286,80.555556,90.00,100.000000,100.000000,100.0,70.000000,100.00,100.0,65.0,100.0,75.000000,100.0,71.200000,43.733333,74.733333,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,47,0.000000,0.000000,0.000000,0.00,NaN,NaN,50.0,0.000000,18.75,0.0,0.0,0.0,NaN,NaN,49.133333,18.133333,23.133333,NaN
47,48,70.500000,76.666667,73.000000,76.25,NaN,NaN,15.0,70.000000,37.50,0.0,10.0,40.0,NaN,NaN,55.000000,47.200000,62.822222,NaN
48,49,41.500000,0.000000,88.000000,90.00,NaN,NaN,60.0,20.000000,37.50,0.0,0.0,30.0,NaN,NaN,57.466667,37.200000,51.488889,NaN
49,50,32.000000,80.000000,77.000000,82.50,NaN,NaN,0.0,0.000000,43.75,60.0,25.0,0.0,NaN,NaN,47.466667,54.466667,53.733333,NaN
50,51,43.500000,0.000000,75.000000,88.75,NaN,NaN,0.0,20.000000,18.75,20.0,5.0,40.0,NaN,NaN,43.333333,51.733333,52.311111,NaN

In [10]:
df.columns

Index(['Unnamed: 0', 'As:1', 'As:2', 'As:3', 'As:4', 'As:5', 'As:6', 'Qz:1',
       'Qz:2', 'Qz:3', 'Qz:4', 'Qz:5', 'Qz:6', 'Qz:7', 'Qz:8', 'S-I', 'S-II',
       'Final', 'Proj'],
      dtype='object')

In [13]:
df = df.drop('Unnamed: 0', axis=1)

In [14]:
df

,As:1,As:2,As:3,As:4,As:5,As:6,Qz:1,Qz:2,Qz:3,Qz:4,Qz:5,Qz:6,Qz:7,Qz:8,S-I,S-II,Final,Proj
0,61.923077,86.428571,81.666667,81.00,49.166667,78.333333,70.0,33.333333,20.00,80.0,0.0,50.0,75.000000,100.0,43.733333,15.600000,35.733333,NaN
1,55.769231,97.142857,43.333333,70.00,67.083333,78.888889,50.0,46.666667,0.00,100.0,70.0,100.0,83.333333,100.0,31.200000,27.466667,53.488889,NaN
2,86.923077,88.571429,0.000000,94.00,66.666667,88.888889,70.0,16.666667,10.00,10.0,20.0,20.0,100.000000,100.0,23.733333,16.200000,32.488889,NaN
3,46.923077,62.142857,0.000000,44.00,0.000000,55.555556,30.0,33.333333,5.00,0.0,0.0,20.0,25.000000,0.0,46.200000,22.466667,28.000000,NaN
4,80.000000,95.714286,80.555556,90.00,100.000000,100.000000,100.0,70.000000,100.00,100.0,65.0,100.0,75.000000,100.0,71.200000,43.733333,74.733333,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,0.000000,0.000000,0.000000,0.00,NaN,NaN,50.0,0.000000,18.75,0.0,0.0,0.0,NaN,NaN,49.133333,18.133333,23.133333,NaN
47,70.500000,76.666667,73.000000,76.25,NaN,NaN,15.0,70.000000,37.50,0.0,10.0,40.0,NaN,NaN,55.000000,47.200000,62.822222,NaN
48,41.500000,0.000000,88.000000,90.00,NaN,NaN,60.0,20.000000,37.50,0.0,0.0,30.0,NaN,NaN,57.466667,37.200000,51.488889,NaN
49,32.000000,80.000000,77.000000,82.50,NaN,NaN,0.0,0.000000,43.75,60.0,25.0,0.0,NaN,NaN,47.466667,54.466667,53.733333,NaN
50,43.500000,0.000000,75.000000,88.75,NaN,NaN,0.0,20.000000,18.75,20.0,5.0,40.0,NaN,NaN,43.333333,51.733333,52.311111,NaN

In [15]:
df.describe()

,As:1,As:2,As:3,As:4,As:5,As:6,Qz:1,Qz:2,Qz:3,Qz:4,Qz:5,Qz:6,Qz:7,Qz:8,S-I,S-II,Final,Proj
count,254.000000,254.000000,254.000000,254.000000,152.000000,62.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,152.000000,62.000000,254.000000,254.000000,254.000000,44.000000
mean,56.766244,59.902231,64.694335,60.935499,61.901042,68.142921,46.318898,34.140420,42.244094,39.718898,36.948819,43.110236,41.584430,93.548387,44.794751,38.767192,44.245801,55.212121
std,28.112890,31.761446,26.459035,32.502959,31.665489,29.631618,31.184341,28.828967,28.025582,33.145941,30.678128,31.603579,29.327726,24.767560,17.175087,22.057860,19.122385,29.396346
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.733333,0.000000,5.450000,0.000000
25%,38.000000,51.500000,53.250000,44.250000,49.166667,56.354167,16.250000,10.000000,20.000000,10.000000,10.000000,10.000000,19.791667,100.000000,31.666667,20.950000,31.743750,38.750000
50%,61.500000,72.250000,71.833333,70.000000,70.416667,76.388889,50.000000,30.000000,43.750000,35.000000,30.000000,40.000000,41.666667,100.000000,45.000000,35.800000,43.444444,65.000000
75%,80.769231,82.000000,84.166667,86.916667,87.500000,88.888889,70.000000,50.000000,60.000000,60.000000,60.000000,70.000000,58.333333,100.000000,56.200000,54.466667,57.277778,76.250000
max,99.000000,100.000000,99.166667,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,93.333333,100.000000,91.755556,95.000000

In [16]:
df["Final"].corr(df["S-I"])

np.float64(0.5530821495256625)

In [17]:
df["Final"].corr(df["S-II"])

np.float64(0.7830528752686216)

In [18]:
df["Final"].corr(df["S-I"] + df["S-II"])

np.float64(0.7484836039905911)

In [19]:
df.to_csv('data/final_dataset.csv')